* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background-color: #000;
  color: #777;
}

body a {
  color: #777;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body ul {
  list-style: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  padding: 4rem 0;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  header {
    padding: 6%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 4%;
  }
}

@media (max-width: 425px) {
  header {
    padding: 4% 8%;
  }
}

@media (max-width: 375px) {
  header {
    padding: 6% 8%;
  }
}

header .header__brand {
  max-width: 10%;
}

@media (max-width: 1024px) {
  header .header__brand {
    max-width: 12%;
  }
}

@media (max-width: 425px) {
  header .header__brand {
    max-width: 22%;
  }
}

header .header__navbar #btn__mobile {
  display: none;
  background: transparent;
  border: none;
  color: #ffeb3b;
  cursor: pointer;
}

header .header__navbar ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 425px) {
  header .header__navbar ul {
    display: none;
  }
}

header .header__navbar ul li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
}

header .header__navbar ul li .active {
  color: #ffeb3b;
}

header .header__navbar ul li a:hover {
  color: #ffeb3b;
}

header .header__navbar ul li a:hover:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 0.2rem;
  background-color: #ffeb3b;
}

@media (max-width: 768px) {
  header .header__navbar #btn__mobile {
    padding: 4%;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0%;
  }
  header .header__navbar ul {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: -100%;
    height: 100vh;
    width: 33%;
    margin: 0;
    padding: 10% 0;
    align-items: center;
    background-color: #222;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    gap: 3rem;
  }
  header .header__navbar ul li {
    bottom: 300px;
    padding: 0;
  }
  header .header__navbar #menu.menu__active {
    right: 0%;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  header .header__navbar #btn__mobile {
    padding: 8%;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0%;
  }
  header .header__navbar ul {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: -100%;
    height: 100vh;
    width: 50%;
    margin: 0;
    padding: 100% 0;
    align-items: center;
    background-color: #222;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  header .header__navbar ul li {
    bottom: 300px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header__navbar #menu.menu__active {
    right: 0%;
  }
}

header .header__social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

@media (max-width: 768px) {
  header .header__social-media ul {
    display: none;
  }
}

@media (max-width: 425px) {
  header .header__social-media ul {
    display: none;
  }
}

header .header__social-media ul li {
  margin: 0 1rem;
}

header .header__social-media ul li a:hover {
  color: #ffeb3b;
}

.gallery {
  max-width: 1170px;
  padding: 4rem 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

@media (max-width: 1024px) {
  .gallery {
    padding: 6%;
  }
}

@media (max-width: 768px) {
  .gallery {
    padding: 4%;
  }
}

@media (max-width: 425px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery .gallery__card {
  color: #fff;
  width: 30%;
  height: 400px;
  margin-bottom: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 425px) {
  .gallery .gallery__card {
    width: 90%;
    padding: 4%;
  }
}

@media (max-width: 768px) {
  .gallery .gallery__card img {
    width: 100%;
  }
}

.gallery .gallery__card .gallery__card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.gallery .gallery__card .gallery__card-btn {
  color: #fff;
  border: 2px solid #ffeb3b;
  border-radius: 5px;
  font-weight: 400;
  padding: 0.6rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.gallery .gallery__card .gallery__card-btn:hover {
  background-color: #ffeb3b;
  color: #000;
}

.gallery #card-1 {
  background-image: url("../assets/animals.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.gallery #card-1:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/animals.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/animals.jpg");
}

.gallery #card-2 {
  background-image: url("../assets/architecture.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.gallery #card-2:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/architecture.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/architecture.jpg");
}

.gallery #card-3 {
  background-image: url("../assets/city.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery #card-3:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/city.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/city.jpg");
}

.gallery #card-4 {
  background-image: url("../assets/decoration.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery #card-4:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/decoration.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/decoration.jpg");
}

.gallery #card-5 {
  background-image: url("../assets/sports.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery #card-5:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/sports.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/sports.jpg");
}

.gallery #card-6 {
  background-image: url("../assets/nature.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery #card-6:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/nature.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/nature.jpg");
}

@media (max-width: 1024px) {
  .gallery #card-6 {
    background-size: 150%;
  }
}

@media (max-width: 768px) {
  .gallery #card-6 {
    background-size: 120%;
  }
}

.gallery #card-7 {
  background-image: url("../assets/lanscape.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery #card-7:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/lanscape.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/lanscape.jpg");
}

.gallery #card-8 {
  background-image: url("../assets/people.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery #card-8:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/people.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/people.jpg");
}

.gallery #card-9 {
  background-image: url("../assets/meals.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery #card-9:hover {
  background-size: 110%;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/meals.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/meals.jpg");
}

@media (max-width: 1024px) {
  .gallery #card-9 {
    background-size: 150%;
  }
}

@media (max-width: 768px) {
  .gallery #card-9 {
    background-size: 120%;
  }
}

footer {
  text-align: center;
  padding: 2rem 0;
  line-height: 24px;
  background-color: #0e0e0c;
}

footer h3 {
  font-size: 0.9rem;
  font-weight: 500;
}

@media (max-width: 375px) {
  footer h3 {
    font-size: 0.8rem;
    padding: 0 0.3rem;
  }
}

@media (max-width: 320px) {
  footer h3 {
    font-size: 0.7rem;
    padding: 0 0.2rem;
  }
}

footer p {
  font-size: 0.85rem;
  font-weight: normal;
}

@media (max-width: 375px) {
  footer p {
    font-size: 0.75rem;
    padding: 0 0.3rem;
  }
}

@media (max-width: 320px) {
  footer p {
    font-size: 0.65rem;
    padding: 0 0.2rem;
  }
}

footer a {
  font-weight: bold;
  color: #ffeb3b;
}
/*# sourceMappingURL=styles.css.map */